<div id="web-landing-footer" class="web-landing-footer" ng:controller="webFooterController" ng-class="{ios : appService.deviceOS == 'iOS'}">

  <!-- Icon based menubar at the footer -->
  <nav class="web-landing-footer-menubar">
		<span ng-repeat="item in items"
			ng-class="{activeTab : isSelected(item)}"
			ng-click="buttonClicked(item)"
			ng-style="{'width' : 100 / $root.admin.web.FOOTER.length + '%'}">
			<label>{{item.NAME}}
				<span ng-show="$root.admin.web.ALLOW_PAYMENT && item.STATE === 'cart'">({{$root.admin.web.getTotalQuantity()}})</span>
				</label>
		</span>
	</nav>
  
  <!-- Legal notice -->
  <div class="web-landing-footer-legal">
    <span>POWERED BY J&Y</span>
  </div>
</div>