<carousel class="noselect" interval="myInterval" on-carousel-change="onSlideChanged(nextSlide, direction)">
	<slide ng-repeat="item in items" active="item.active">
		<div class="modal-header">
			<h3 class="modal-title">{{headerTitle}}</h3> <small><small>&#9658;</small></small> <h1 ng-bind="item.TITLE"></h1>
		</div>
		<div class="modal-body">
			<div style="height: 22em; width: 100%">
				<div class="imgbg" ng-style="getDetailsItemImgStyle(item)"></div>
				<!-- <img ng-src="{{item.IMG_PATH.LARGE}}" style="margin:auto;" /> -->
				<div class="carousel-caption">
					<!-- <h4>{{item.TITLE}}</h4> -->
					<p>{{item.DETAIL}}</p>
				</div>
		  	</div>
		</div>
		
		<div class="modal-footer">
			<div>
				<button class="addToOrder web-button"
					ng-click="clickOnAddToCart(item.itemCode, myQuantity, item.TITLE)"
					ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}">Add to Cart</button>
				<select class="myQuantity" ng-model="myQuantity"
					ng-options="quantity for quantity in quantities"
					ng-disabled="!$root.admin.web.ALLOW_PAYMENT"
					ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}"></select>
				<label class="priceLabel">${{item.PRICE}}</label>
			</div>
			<!-- <button class="btn btn-primary" ng-click="ok()">OK</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
		</div>
	</slide>
</carousel>
<span class="details closeButton" ng-click="closeModal()">&#10006;</span>