<div class="item" on-size-changed="logResize">
	<div class="menu-fix"> <!-- ng-style="getTop()" -->
		<ng:switch on="$root.admin.appService.deviceOS != 'iOS'">
			<div class="section" ng:switch-when="true" ng-repeat='category in categoryNav'>
				<a ui-sref="{{category.STATE}}">{{category.TITLE}}</a>
				<span ng-show="$index < categoryNav.length - 1"><small><small>&#9658;</small></small></span>
			</div>
	 		
			<div class="section" ng:switch-default ng-repeat='category in categoryNav'>
				<a ui-sref="{{category.STATE}}">{{category.TITLE}}</a>
				<span ng-show="$index < categoryNav.length - 1"><small><small>&#9658;</small></small></span>
				<!-- <a id="nav{{menu.DAY}}" href="#{{menu.DAY}}"
					ng-repeat='menu in data.MENU'>{{menu.DAY}}</a> -->
			</div>
		</ng:switch>
	</div>
	
	<div class="main-menu-fix" ng-style="getTop()" ng-class="{ios : $root.admin.appService.deviceOS == 'iOS'}" >
		<div id="{{itemCode}}" class="card-style"
			ng-repeat='itemCode in categoryObj.CATEGORY'
			ng-style="getCardWidth(itemCode, $index)">
			<!-- repeat-complete="repeatComplete()" -->
			
			<div ng-show="!canContainOnlyOne && !isCombo(itemCode)">
				<h1 ng-click="openItemDetails(itemCode, $index)">{{getItemTitle(itemCode)}}</h1>
				<span class="short-details" ng-click="openItemDetails(itemCode, $index)">{{getItemDetails(itemCode)}}</span>

				<div class="imgbg" ng-style="getItemImgStyle(itemCode, 'M')"
					ng-click="openItemDetails(itemCode, $index)"></div>

				<table class="price">
					<tr>
						<td>
							<div ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}">
								<button class="addToOrder web-button" ng-click="clickOnAddToCart(itemCode, myQuantity, getItemTitle(itemCode))">Add to Cart</button>
								<select class="myQuantity" ng-model="myQuantity"
									ng-options="quantity for quantity in quantities"
									ng-disabled="!$root.admin.web.ALLOW_PAYMENT"></select>
							</div>
						</td>
						<td class="pricetd">
							<label class="priceLabel">{{getItemPrice(itemCode)}}</label>
						</td>
					</tr>
				</table>
			</div>
			
			<table class="oneContainer" ng-show="canContainOnlyOne && !isCombo(itemCode)">
				<tr>
					<td class="icon" ng-click="openItemDetails(itemCode, $index)" ng-style="getItemImgIconStyle(itemCode)">
						<div class="imgbg" ng-style="getItemImgStyle(itemCode)"></div>
						<!-- <img ng-src="{{getFirstItemImg(category)}}"/> -->
					</td>
					<td class="item">
						<table>
							<tr ng-click="openItemDetails(itemCode, $index)">
								<td class="title" colspan="2"><h1>{{getItemTitle(itemCode)}}</h1></td>
							</tr>
							<tr>
								<td class="cart">
									<div class="short-details" ng-style="getCartTdWidth(itemCode)" ng-click="openItemDetails(itemCode, $index)">
										{{getItemDetails(itemCode)}}
									</div>
									<div ng-show="$root.admin.web.ALLOW_PAYMENT">
										<button class="addToOrder web-button" ng-click="clickOnAddToCart(itemCode, myQuantity, getItemTitle(itemCode))">Add to Cart</button>
										<select class="myQuantity" ng-model="myQuantity"
											ng-options="quantity for quantity in quantities"
											ng-disabled="!$root.admin.web.ALLOW_PAYMENT"></select>
									</div>
								</td>
								<td class="pricetd" ng-click="openItemDetails(itemCode, $index)">
									<label class="priceLabel">{{getItemPrice(itemCode)}}</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
			<table class="oneContainer" ng-show="isCombo(itemCode)">
				<tr>
					<td class="item">
						<table>
							<tr ng-click="openItemDetails(itemCode, 0)">
								<td class="title" colspan="2"><h1>{{getItemTitle(itemCode)}}</h1></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="short-details" ng-style="getCartComboTdWidth(itemCode)" ng-click="openItemDetails(itemCode, 0)">
										{{getComboItemTitles(itemCode)}}
									</div>
									<div class="imgbg"
										ng-repeat="cItemCode in getComboItems(itemCode)"
										ng-style="getComboItemImgStyle(cItemCode, getComboItems(itemCode).length)"
										ng-click="openItemDetails(itemCode, $index)"></div>
								</td>
							</tr>
							<tr>
								<td class="cart">
									<div ng-show="$root.admin.web.ALLOW_PAYMENT">
										<button class="addToOrder web-button" ng-click="clickOnAddToCart(itemCode, myQuantity, getItemTitle(itemCode))">Add to Cart</button>
										<select class="myQuantity" ng-model="myQuantity"
											ng-options="quantity for quantity in quantities"
											ng-disabled="!$root.admin.web.ALLOW_PAYMENT"></select>
									</div>
								</td>
								<td class="pricetd" ng-click="openItemDetails(itemCode, 0)">
									<label class="priceLabel">{{getItemPrice(itemCode)}}</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div ng-style="getPadding($root.admin.appService.deviceOS == 'iOS')">
		</div>
	</div>
</div>