<div class="item" on-size-changed="logResize">
	<div id="{{itemCode}}" class="card-style"
		ng-repeat='itemCode in categoryObj.CATEGORY'
		ng-style="getCardWidth(itemCode, $index)">
		<!-- repeat-complete="repeatComplete()" -->
		
		<div ng-show="!canContainOnlyOne">
			<h1>{{getItemTitle(itemCode)}}</h1>
			<div class="imgbg" ng-style="getItemImgStyle(itemCode)"></div>
			
			<table class="price">
				<tr>
					<td>
						<div ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}">
							<button class="addToOrder web-button" ng-click="clickOnAddToCart(itemCode)">Add to Cart</button>
							<select class="myQuantity" ng-model="myQuantity" ng-options="quantity for quantity in quantities" ng-disabled="!$root.admin.web.ALLOW_PAYMENT"></select>
						</div>
					</td>
					<td class="pricetd">
						<label class="priceLabel">{{getItemPrice(itemCode)}}</label>
					</td>
				</tr>
			</table>
		</div>
		
		<table class="oneContainer" ng-show="canContainOnlyOne">
			<tr>
				<td class="icon">
					<div class="imgbg" ng-style="getItemImgStyle(itemCode)"></div>
					<!-- <img ng-src="{{getFirstItemImg(category)}}"/> -->
				</td>
				<td class="title"><h1>{{getItemTitle(itemCode)}}</h1></td>
				<td class="cart">
					<div ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}">
						<button class="addToOrder web-button" ng-click="clickOnAddToCart(itemCode)">Add to Cart</button>
					</div>
					<div ng-class="{hiddenPay: !$root.admin.web.ALLOW_PAYMENT}">
						<select class="myQuantity" ng-model="myQuantity" ng-options="quantity for quantity in quantities" ng-disabled="!$root.admin.web.ALLOW_PAYMENT"></select>
					</div>
				</td>
				<td class="pricetd">
					<label class="priceLabel">{{getItemPrice(itemCode)}}</label>
				</td>
			</tr>
		</table>
		
		
	</div>
</div>