.menu, .item, .location {
	/* padding: .5em; */
	max-width: 60em;
  	margin-left: auto;
  	margin-right: auto;
}

/******************************
 * View settings 
 */
.menu-fix {
	background-color: #008537;
	color: #000000;
	overflow: hidden;
	display: block;
	width: 100%;
	/* position: fixed; */
	z-index: 1000;
	left: auto;
	right: auto;
	
/* 	background: rgba(0, 133, 55, 0.88); */
	box-shadow: 0px 0px 2px #999;
}
.menu-fix .section {
	display: table-cell;
	vertical-align: middle;
}
.menu-fix .section > a,  .menu-fix .section > span{
	text-decoration: none;
	display:inline-block;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	/* border-right: 1px solid rgba(255, 255, 255, .5); */
	
	/* margin: .5em 0; */
	text-transform: lowercase;
	cursor: default;
}
.menu-fix .section > a {
	cursor: pointer;
	padding: 0 .5em;
}

.menu-fix .section > a:FIRST-LETTER {
	text-transform: uppercase;
}

.menu-fix .section > a:last-child {
    border-right: none;
}
.main-menu-fix {
	left: auto;
	right: auto;
	bottom: 0px;
	overflow-y: auto;
	position: absolute;
}
.main-menu-fix.ios {
	position: inherit;
}



/******************************
 * Detail card with border and shadow 
 */
.card-style {
	border: 1px solid #000;
	padding: .5em;
	box-shadow:.2em .2em .2em rgba(0, 0, 0, 0.2);
	font-size: .9em;
	/* overflow: auto; */
	border-radius: 0.5em;
	margin: 1em;
}
.card-style table {
	width: 100%;
}
.card-style td.icon {
	width: 7em;
	height: 4em;
}
.menu .card-style td.icon > img {
	height:100%;
}

.menu .card-style td.title {
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
}
.menu .card-style td.arrow {
	width: 1em;
}
.card-style.clickable {
	cursor: pointer;
}
@media only screen and (min-device-width : 1224px)
{
	.card-style.clickable:HOVER {
		background: #ffe9e9;
	}
}
.card-style.clickable:ACTIVE {
	background-color: #ffe9e9;
}

.item .card-style {
	display: inline-block;
	margin: .5em;
	margin-bottom: 0;
	vertical-align: top;
}
.item .card-style .imgbg {
	height: 9em;
	margin: .5em;
}
.item .card-style td.icon .imgbg {
	height: 100%;
}
.item .card-style td.title {
	padding: .5em;
	padding-top: 0;
}
.item .card-style h1 {
	font-size: 1.3em;
	font-style: italic;
	margin: 0em;
	font-weight: bold;
}

.item .card-style .priceLabel {
	color: #000;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	position: relative;
	line-height: 1em;
}
.item .card-style .price tr {
	white-space: nowrap;
}
.item .card-style .price td {
	/* display: inline; */
}
.item .card-style .pricetd, .item .card-style .cart {
	text-align: right;
	padding: 0 .5em;
}
.item .card-style .pricetd {
	width: 0;
}
.item .card-style .cart .web-button {
	margin-bottom: .5em;
}
.item .card-style .price .myQuantity {
	margin-right: 1.5em;
}
.item .card-style .short-details {
    display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.item .card-style span.short-details {
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
}
.item .card-style .oneContainer {
	font-size: .8em;
}
.item .card-style .oneContainer  td.item {
	padding-left: .5em;
}
.item .card-style .oneContainer .imgbg {
	margin: 0;
}
.item .card-style .oneContainer .cart {
	text-align: inherit;
}
.item .card-style .oneContainer .cart .short-details {
	font-size: larger;
	width: 10em;
	margin-bottom: .5em;
}
.item .card-style .oneContainer .cart > div {
	vertical-align: middle;
}
.item .card-style .oneContainer .cart .web-button {
	margin: 0;
}
.item .card-style .oneContainer .cart .web-button {
	font-size: 1.1em;
	padding: .2em .5em;
}

.web-button {
	display: inline-block;
	background-color: #488000;
	color: #ffffff;
	border: 1px solid #305500;
	border-radius: .2em;
	padding: .3em .7em;
	cursor: pointer;
	vertical-align: middle;
}
.web-button:disabled
{
	background-color: #cccccc;
	cursor: default;
}
@media only screen and (min-device-width : 1224px) {
	.web-button:enabled:HOVER {
		background-color: #cde630;
	}
}
.web-button:enabled:ACTIVE {
	background-color: #305500;
}

.hiddenPay {
	cursor: default;
	opacity: 0;
    filter: Alpha(opacity=0);
	/* visibility: hidden; */
}
.hiddenPay button {
	cursor: default;
}