.menu, .item, .location, .cart {
	/* padding: .5em; */
	max-width: 60em;
  	margin-left: auto;
  	margin-right: auto;
}
.cart {
	padding: 1em;
}

/******************************
 * View settings 
 */
.menu-fix {
	background-color: #008537;
	color: #000000;
	overflow: hidden;
	display: block;
	width: 100%;
	/* position: fixed; */
	z-index: 1000;
	left: auto;
	right: auto;
	
/* 	background: rgba(0, 133, 55, 0.88); */
	box-shadow: 0px 0px 2px #999;
}
.menu-fix .section {
	display: table-cell;
	vertical-align: middle;
}
.menu-fix .section > a,  .menu-fix .section > span{
	text-decoration: none;
	display:inline-block;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	/* border-right: 1px solid rgba(255, 255, 255, .5); */
	
	/* margin: .5em 0; */
	text-transform: lowercase;
	cursor: default;
}
.menu-fix .section > a {
	cursor: pointer;
	padding: 0 .5em;
}

.menu-fix .section > a:FIRST-LETTER {
	text-transform: uppercase;
}

.menu-fix .section > a:last-child {
    border-right: none;
}
.main-menu-fix {
	left: auto;
	right: auto;
	bottom: 0px;
	/* position: absolute; */
}
.main-menu-fix.ios {
	position: inherit;
}



/******************************
 * Detail card with border and shadow 
 */
.card-style {
	border: 1px solid #000;
	padding: .5em;
	box-shadow:.2em .2em .2em rgba(0, 0, 0, 0.2);
	font-size: .9em;
	/* overflow: auto; */
	border-radius: 0.5em;
	margin: 1em;
}
.card-style table {
	width: 100%;
}
.card-style td.icon {
	width: 7em;
	height: 4em;
}
.menu .card-style td.icon > img {
	height:100%;
}

.menu .card-style td.title {
	font-size: 2.5em;
	font-weight: bold;
	font-style: italic;
}
.menu .card-style td.arrow {
	width: 1em;
}
.card-style.clickable {
	cursor: pointer;
}
@media only screen and (min-device-width : 1224px)
{
	.card-style.clickable:HOVER {
		background: #ffe9e9;
	}
}
.card-style.clickable:ACTIVE {
	background-color: #ffe9e9;
}

.item .card-style {
	display: inline-block;
	margin: .5em;
	margin-bottom: 0;
	vertical-align: top;
}
.item .card-style .imgbg {
	height: 9em;
	margin: .5em;
}
.item .card-style td.icon .imgbg {
	height: 100%;
}
.item .card-style td.title {
	padding: .5em;
	padding-top: 0;
}
.item .card-style h1 {
	font-size: 1.3em;
	font-style: italic;
	margin: 0em;
	font-weight: bold;
}

.priceLabel {
	color: #000;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	position: relative;
	line-height: 1em;
}
.price tr {
	white-space: nowrap;
}
.price td {
	/* display: inline; */
}
.pricetd, .item .card-style .cart {
	text-align: right;
	padding: 0 .5em;
}
.pricetd {
	width: 0;
}
.cart .web-button {
	margin-bottom: .5em;
}
.price .myQuantity {
	margin-right: 1.5em;
	  margin-left: .5em;
}
.item .card-style .short-details {
    display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.item .card-style span.short-details {
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
}
.item .card-style .oneContainer {
	font-size: .8em;
}
.item .card-style .oneContainer  td.item {
	padding-left: .5em;
}
.item .card-style .oneContainer .imgbg {
	margin: 0;
}
.item .card-style .oneContainer .cart {
	text-align: inherit;
}
.item .card-style .oneContainer .cart .short-details {
	font-size: larger;
	width: 10em;
	margin-bottom: .5em;
}
.item .card-style .oneContainer .cart > div {
	vertical-align: middle;
}
.item .card-style .oneContainer .cart .web-button {
	margin: 0;
}
.item .card-style .oneContainer .cart .web-button {
	font-size: 1.1em;
	padding: .2em .5em;
}

.web-button {
	display: inline-block;
	background-color: #488000;
	color: #ffffff;
	border: 1px solid #305500;
	border-radius: .2em;
	padding: .3em .7em;
	cursor: pointer;
	vertical-align: middle;
}
.web-button:disabled
{
	background-color: #cccccc;
	cursor: default;
}
@media only screen and (min-device-width : 1224px) {
	.web-button:enabled:HOVER {
		background-color: #cde630;
	}
}
.web-button:enabled:ACTIVE {
	background-color: #305500;
}

.hiddenPay {
	cursor: default;
	opacity: 0;
    filter: Alpha(opacity=0);
	/* visibility: hidden; */
}
.hiddenPay button {
	cursor: default;
}

/*
* Items Details Modal
*/
.modal {
	overflow: auto;
}
.modal-header {
	padding: .5em 1em;
	white-space: nowrap;
}
.modal-header .modal-title {
	font-weight: bold;
	display: table-cell;
	padding-right: 0.5em;
}
.modal-header > small {
	display: table-cell;
	vertical-align: middle;
	padding-right: 0.5em;
}
.modal-header > h1 {
	display: table-cell;
	font-size: 1.3em;
	font-style: italic;
}
.modal-header > span {
	display: table-cell;
	vertical-align: middle;
	padding-right: 0.5em;
	width: 100%;
	text-align: right;
}
.modal-body {
	padding: 1em;
}
.modal-body .imgbg {
	width: 100%;
	height: 22em;
}

.modal-footer {
	margin-top: 1em;
	padding: .5em 1em;
}
.modal-footer .priceLabel {
	padding-left: 1.5em;
	vertical-align: bottom;
}
.carousel-indicators {
	bottom: 2.5em;
}
.carousel-control.left, .carousel-control.right {
	background: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.carousel-caption > p {
	font-size: 1.3em;
}
.carousel-caption {
	text-shadow: 0 1px 2px rgba(0,0,0,1);
}
div.checkout {
	text-align: center;
	margin-bottom: 1em;
}
div.checkout .btn-success.active {
	font-weight: bold;phone-form
}
div.checkout .paypal-button {
	display: inline-block;
}
.web-button.checkout {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 .3em;
	padding: .3em 1em;
}
div.info-form {
	vertical-align: middle;
	margin-bottom: 1em;
}

input {
	margin-bottom: 0;
	width: 10em;
	height: 2em;
}
.info-form table {
	margin-left: auto;
	margin-right: auto;
}
.info-form table tr > td {
	padding: .3em .5em;
}
.info-form input {
	width: 100%;
	height: 2em;
	margin-bottom: 0;
}

.phone-form input {
	width: 4em;
	margin-bottom: 0;
}
.name-form input {
	width: auto;
}
.addr-form2 input.city {
	width: auto;
}
input.error, input.error:FOCUS {
	border-color: rgba(255, 81, 94, 0.8);
  	outline: 0;
  	outline: thin dotted \9;
  	/* IE6-9 */

  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 94,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 94,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 94,.6);
}
.addr-form2 input.zipcode {
	width: 7em;
}
.addr-form2 select {
	border-radius: 4px;
	background-color: #ffffff;
  	border: 1px solid #cccccc;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	-webkit-transition: border linear .2s, box-shadow linear .2s;
  	-moz-transition: border linear .2s, box-shadow linear .2s;
  	-o-transition: border linear .2s, box-shadow linear .2s;
  	transition: border linear .2s, box-shadow linear .2s;
  	font-size: 1em;
  	height: 2em;
  	width: 7em;
}
.details.closeButton {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
}
.show-dropdown-menu {
	display: block;
}
.details.closeButton:ACTIVE, .details.closeButton:FOCUS, .details.closeButton:HOVER {
	color: blue;
}
.payment-method {
	text-align: center;
	margin-bottom: 1em;
}

.payment-method .web-button {
	font-size: 1.5em;
  	font-weight: bold;
  	font-style: italic;
  	margin: 0 .1em;
}

#preview {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	float: left;
	top: 50%;
  	left: 50%;
	width: 10em;
	height: 10em;
	margin-left: -5em;
  	margin-top: -5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index: 10000;
}